html, body {
    height: 100%;
    overflow: hidden;
}

a {
    color: #2778EC;
}

.hidden {
    display: none;
}

body {
    position: relative;
    font-family: Consolas, verdana, simsun, sans-serif;
}

#header {
    background: #4C565E;
    height: 98px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 6;
}

#header h1 {
    position: absolute;
    left: 25px;
    top: 32px;
    font-size: 22px;
    color: #7fffd4;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

#main-wrapper {
    position: absolute;
    left: 180px;
    top: 98px;
}

#calendar-wrapper {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 76px;
}

#calendar-panel {
    height: 100%;
}

#calendar-header {
    height: 76px;
    background: #eee;
    position: relative;
    z-index: 3;
}

#calendar-header h2 {
    padding: 6px 0 0 .2em;
    font-weight: normal;
    white-space: nowrap;
    float: left;
    font-size: 38px;
}

#calendar-header h2 span.tips {
    position: absolute;
    top: 80px;
    left: 6em;
    padding: .5em 1em;
    font-size: 12px;
    background: #16A765;
    color: #fff;
    letter-spacing: 2px;
    display: none;
}

#calendar-header h2 span.tips s {
    position: absolute;
    width: 28px;
    height: 24px;
    left: 50%;
    top: -16px;
    background: url(/images/cire.png);
    margin-left: -14px;
}

#calendar-header h2 b {
    color: #444;
    display: inline-block;
    padding: 0 1em 0 .2em;
    font-weight: normal;
    cursor: pointer;
    background: #eee url(/images/sprites.png) 88% 16px no-repeat;
    border-bottom: solid 1px #eee;

}

#calendar-header h2 b:hover,
#calendar-header h2 b.hover {
    background-color: #ddd;
    background-position: 88% -41px;
    border-bottom: solid 1px #bbb;
}

#log-list-control span {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    margin: 14px 0 0 12px;
}

#log-list-control b.close {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 34px;
    background: #fff;
    padding: 5px 2em;
    cursor: pointer;
}

/*日历容器*/

#calendar-container {
    position: absolute;
    left: 12px;
    top: 12px;
    border: solid 1px #e2e2e2;
    text-align: center;
    min-width: 740px;
}

#calendar-container tr.th th {
    font-weight: normal;
    height: 40px;
    line-height: normal;
    overflow: hidden;
    background: #fcfcfc;
    width: 14.285%;
    letter-spacing: .3em;
}

#calendar-container tr.th th.weekend {
    color: #ccc;
}

#calendar-container th,
#calendar-container td {
    border: solid 1px #e2e2e2;
}

#calendar-container td {
    vertical-align: top;
}

#calendar-container td div.container {
    position: relative;
    height: 100%;
}

#calendar-container td div.wrapper b.day {
    position: absolute;
    right: .3em;
    bottom: 0;
    font-size: 22px;
    color: #bbb;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#calendar-container td.prev div.wrapper b.day,
#calendar-container td.next div.wrapper b.day {
    color: #ddd;
}

/*显示详情*/
#more-detail-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

#more-detail {
    margin: 0 1em 0 0;
}

#more-detail h2 {
    padding: 2em 0 0 2em;
    font-size: 14px;
    margin: 0
}

#more-detail h2 b.edit {
    margin-left: 12px;
    font-weight: normal;
    font-size: 12px;
    color: blue;
    cursor: pointer;
    font-family: verdana, sans-serif;
}

#more-detail ul {
    line-height: 180%;
    margin: 1em 0 1em 2em;
    font-size: 14px;
}

/*record-log*/
#add-record-log {
    position: absolute;
    left: -480px;
    top: 0;
    padding: 12px;
    border: solid 1px #aaa;
    border-top: none;
    box-shadow: 5px 1px 30px #aaa;
    z-index: 4;
    background: #EEE;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.11, rgb(219, 219, 219)), color-stop(0.21, rgb(217, 217, 217)), color-stop(0.99, rgb(255, 255, 255)));
    background: -moz-linear-gradient(center bottom, rgb(219, 219, 219) 11%, rgb(217, 217, 217) 21%, rgb(255, 255, 255) 99%);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 10, Direction = 145, color = #CCCCCC);
}

#add-record-log p {
    margin: 1em;
    line-height: 23px;
}

#add-record-log th,
#add-record-log td {
    padding: .5em 1em;
}

#add-record-log th {
    width: 100px;
    text-align: right;
}

#add-record-log th b {
    font-weight: bold;
    color: #a00;
    font-size: 14px;
}

#add-record-log td a.level {
    margin-left: 1em;
}

#add-record-log tr.tips {
    color: red;
}

#add-record-log tr.control {
    text-align: right;
}

#add-record-log tr.control input.smt,
#add-record-log tr.control input.login,
#add-record-log tr.control input.cal {
    padding: .5em;
    margin-left: 1em;
}

#add-record-log tr.control input.smt {
    padding: .5em 1em;
    font-weight: bold;
}

#add-record-log td input.text:focus,
#add-record-log td textarea:focus {
    background-color: #efe;
}

#add-record-log td input.text,
#add-record-log td textarea {
    font-family: Consolas, verdana, simsun, sans-serif;
    padding: .5em;
    height: 1.4em;
    width: 240px;
    border: solid 1px #A0C9C9;
    background: #fff;
}

#add-record-log form.login td input.text {
    width: 120px;
}

#add-record-log td textarea {
    height: 80px;
    overflow: auto;
    resize: none;
}

#add-record-log td input.year,
#add-record-log td input.month,
#add-record-log td input.date {
    padding: .5em;
}

#add-record-log td input.year {
    width: 30px;
    margin-right: 8px;
}

#add-record-log td input.month,
#add-record-log td input.date {
    width: 20px;
    text-align: center;
    margin: 0 8px;
}

#calendar-container div.work-diary {
    zoom: 1;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#calendar-container div.work-diary-list {
    position: relative;
}

#calendar-container div.work-describe {
    background: #f9f9f9;
    overflow-y: auto;
    margin-left: -1px;
    margin-top: -1px;
}

#calendar-container div.work-describe ul {
    width: 100%;
    padding-top: .5em;
    line-height: 170%;
}

#calendar-container div.work-describe ul li.edit {
    position: absolute;
    width: auto;
    position: absolute;
    right: .5em;
    top: .5em;
}

#calendar-container div.work-describe ul li b {
    font-weight: normal;
    margin-right: .5em;
}

#calendar-container div.work-describe ul li.edit b {
    cursor: pointer;
    text-decoration: underline;
    color: #4454a7;
    background: #f9f9f9;
    padding: 0 .5em;
}

#calendar-container div.work-describe ul li {
    width: 100%;
    text-indent: .8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

span.front {
    background: #500;
    font-size: 12px;
    font-family: simsun, simhei, sans-serif;
    white-space: nowrap;
    display: inline-block;
    padding: 0 2px;
    vertical-align: top;
    overflow: hidden;
    color: #fff;
    margin: 1px 1px 0 0;
    text-align: center;
    line-height: 150%;
    cursor: default;
}

span.front60 {
    background: #AC725E;
}

span.front62 {
    background: #F83A22;
}

span.front54 {
    background: #D06B64;
}

span.front53 {
    background: #FA573C;
}

span.front56 {
    background: #FF7537;
}

span.front47 {
    background: #FFAD46;
}

span.front51 {
    background: #42D692;
}

span.front63 {
    background: #16A765;
}

span.front57 {
    background: #7BD148;
}

span.front49 {
    background: #B3DC6C;
}

span.front61 {
    background: #9acd32;
}

span.front59 {
    background: #92E1C0;
}

span.front52 {
    background: #9FC6E7;
}

#sidebar-wrapper span.front {
    margin: 2px;
    padding: 3px;
    width: 50px;
    cursor: default;
}

body #sidebar-wrapper span.weak {
    opacity: .7;
    filter: alpha(opacity = 70);
}

body #sidebar-wrapper span.highlight {
    box-shadow: 3px 3px 3px #444;
    font-weight: bold;
    color: #fff;
}

#sidebar-wrapper {
    background: #F4F4F4;
    position: absolute;
    left: 0;
    top: 98px;
    bottom: 0;
    width: 180px;
    z-index: 5;
    overflow: auto;
}

#record-log span {
    font-weight: normal;
}

#sidebar-group h2 {
    margin: .8em 0 .5em 1em;
    color: #333;
    font-size: 14px;
}

#sidebar-group h2 span {
    font-size: 12px;
    font-weight: normal;
}

#sidebar-group ul {
    font-size: 12px;
    font-weight: normal;
    line-height: 180%;
    margin: 0 1em 2em 1em;
}

#sidebar-group ul li {
    padding-left: 1.5em;
}

#statistics ul li {
    margin: .3em 0;
    padding-left: .8em;
}

#statistics ul li span {
    display: inline-block;
    width: 40%;
}

#statistics ul li span.amortization {
    display: none;
    color: #fff;
    font-weight: bold;
    background: red;
    width: auto;
    margin-right: 5px;
    padding: 0 5px;
}

#statistics ul li span.download-csv {
    display: none;
}

body.show-amortization #statistics ul li span.amortization,
body.show-amortization #statistics ul li span.download-csv {
    display: inline-block;
}

#sidebar-group ul li.separator {
    border-top: solid 1px #ccc;
    margin: 6px auto;
    height: 0;
    line-height: 0;
    width: 77%;
    font-size: 0;
    overflow: hidden;
    position: relative;
}

#sidebar-group ul li a,
#sidebar-group ul li #record-log {
    color: #2778EC;
    cursor: pointer;
    white-space: nowrap;
}

#sidebar-group ul li #record-log {
    font-weight: normal;
}

#sidebar-group ul li.current {
    background: #f60;
    color: #fff;
}

#sidebar-group ul li.current #record-log {
    color: #fff;
    font-weight: bold;
}
