html, body {
    height: 100%;
    overflow: hidden;

}

body {
    position: relative;
}

#header {
    background: #4C565E;
    height: 98px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}

#header h1 {
    position: absolute;
    left: 25px;
    top: 32px;
    font-size: 22px;
    color: #7fffd4;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-family: simsun, simhei, arial, sans-serif;
}

#main-wrapper {
    position: absolute;
    left: 180px;
    top: 98px;
}

#calendar-wrapper {
    position: absolute;
    width: 100%;
    top: 76px;
}

#calendar-header {
    height: 76px;
    background: #eee;
}

#calendar-header h2 {
    padding: 6px 0 0 .6em;
    font-size: 38px;
    color: #444;
    font-weight: normal;
    font-family: verdana, sans-serif;
}

/*日历容器*/

#calendar-container {
    position: absolute;
    left: 12px;
    top: 12px;
    border: solid 1px #f2f2f2;
    text-align: center;
}

#calendar-container tr.th th {
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: normal;
    overflow: hidden;
    background: #fcfcfc;
}

#calendar-container tr.th th.weekend {
    color: #aaa;
}

#calendar-container th,
#calendar-container td {
    border: solid 1px #eee;
}

#calendar-container td {
    vertical-align: top;
}

#calendar-container td div.wrapper {
    position: relative;
}

#calendar-container td div.wrapper b.day {
    position: absolute;
    right: 10%;
    bottom: 0;
    font-size: 20px;
    color: #f5f5f5;
}

#calendar-container td.prev,
#calendar-container td.next {
    color: #aaa;
}

#sidebar-wrapper {
    background: #F4F4F4;
    position: absolute;
    left: 0;
    top: 98px;
    bottom: 0;
    width: 180px;
}

#sidebar-group h2 {
    margin: 1em;
    color: #333;
    font-size: 14px;
}

#sidebar-group ul {
    font-size: 12px;
    font-weight: normal;
    margin: .5em 0 2em 1.5em;
}

#sidebar-group ul {
    line-height: 180%;
}