html, body {
    height: 100%;
    overflow: hidden;
}

.hidden {
    display: none;
}

body {
    position: relative;
}

#header {
    background: #4C565E;
    height: 98px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}

#header h1 {
    position: absolute;
    left: 25px;
    top: 32px;
    font-size: 22px;
    color: #7fffd4;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-family: simsun, simhei, arial, sans-serif;
}

#main-wrapper {
    position: absolute;
    left: 180px;
    top: 98px;
}

#calendar-wrapper {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 76px;
}

#calendar-header {
    height: 76px;
    background: #eee;
}

#calendar-header h2 {
    padding: 6px 0 0 .2em;
    font-size: 38px;
    font-weight: normal;
    font-family: verdana, sans-serif;
    white-space: nowrap;
}

#calendar-header h2 b {
    color: #444;
    display: inline-block;
    padding: 0 .2em;
    font-weight: normal;
    cursor: pointer;
}

#calendar-header h2 b:hover,
#calendar-header h2 b.hover {
    background: #ccc;
}

/*日历容器*/

#calendar-container {
    position: absolute;
    left: 12px;
    top: 12px;
    border: solid 1px #e2e2e2;
    text-align: center;
    min-width: 740px;
}

#calendar-container tr.th th {
    font-weight: normal;
    height: 40px;
    line-height: normal;
    overflow: hidden;
    background: #fcfcfc;
    width: 14.285%;
}

#calendar-container tr.th th.weekend {
    color: #ccc;
}

#calendar-container th,
#calendar-container td {
    border: solid 1px #e2e2e2;
}

#calendar-container td {
    vertical-align: top;
}

#calendar-container td div.wrapper {
    position: relative;
}

#calendar-container td div.wrapper b.day {
    position: absolute;
    right: .3em;
    bottom: 0;
    font-size: 22px;
    color: #f2f2f2;
    text-shadow: 1px 1px 0 #ccc;
    font-family: Arial, simsun, sans-serif;
}

#calendar-container td.prev,
#calendar-container td.next {
    color: #aaa;
}

/*record-log*/
#add-record-log {
    position: absolute;
    left: -480px;
    top: 0;
    z-index: 2;
    background: #f5f0f5;
    padding: 12px;
    border: solid 1px #aaa;
    border-top: none;
    box-shadow: 12px 12px 12px #aaa;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 10, Direction = 145, color = #aaaaaa);
}

#add-record-log th,
#add-record-log td {
    padding: .5em 1em;
}

#add-record-log th {
    width: 100px;
    text-align: right;
}

#add-record-log th b {
    font-weight: bold;
    font-family: verdana, sans-serif;
    color: #a00;
    font-size: 14px;
}

#add-record-log td a.level {
    margin-left: 1em;
}

#add-record-log tr.control {
    text-align: right;
}

#add-record-log tr.control input.smt,
#add-record-log tr.control input.login,
#add-record-log tr.control input.cal {
    padding: .5em;
    margin-left: 1em;
}

#add-record-log tr.control input.smt {
    padding: .5em 1em;
    font-weight: bold;
}

#add-record-log td input:focus,
#add-record-log td textarea:focus {
    background-color: #efe;
}

#add-record-log td input.text,
#add-record-log td textarea {
    padding: .5em;
    width: 240px;
    border: solid 1px #A0C9C9;
    background: #fff;
}

#add-record-log form.login td input.text {
    width: 120px;
}

#add-record-log td textarea {
    height: 80px;
    overflow: auto;
    resize: none;
}

#add-record-log td input.year,
#add-record-log td input.month,
#add-record-log td input.date {
    padding: .5em;
}

#add-record-log td input.year {
    width: 30px;
    margin-right: 8px;
}

#add-record-log td input.month,
#add-record-log td input.date {
    width: 20px;
    text-align: center;
    margin: 0 8px;
}

#calendar-container div.work-diary {
    zoom: 1;
    text-align: left;
}

span.front {
    background: #500;
    font-size: 12px;
    font-family: "宋体", simhei, sans-serif;
    white-space: nowrap;
    display: inline-block;
    width: 40px;
    height: 20px;
    vertical-align: top;
    overflow: hidden;
    color: #fff;
    box-shadow: 1px 1px 0 #888;
    margin: 1px;
    text-align: center;
    line-height: 20px;
}

span.front1 {
    background: #AC725E;
}

span.front2 {
    background: #D06B64;
}

span.front3 {
    background: #F83A22;
}

span.front4 {
    background: #FA573C;
}

span.front5 {
    background: #FF7537;
}

span.front6 {
    background: #FFAD46;
}

span.front7 {
    background: #42D692;
}

span.front8 {
    background: #16A765;
}

span.front9 {
    background: #7BD148;
}

span.front10 {
    background: #B3DC6C;
}

span.front11 {
    background: #9acd32;
}

span.front12 {
    background: #92E1C0;
}

span.front13 {
    background: #9FC6E7;
}

#sidebar-wrapper span.front {
    margin: 2px;
}

body #sidebar-wrapper span.show-all {
    width: auto;
    padding: 0 3px;
}

#sidebar-wrapper {
    background: #F4F4F4;
    position: absolute;
    left: 0;
    top: 98px;
    bottom: 0;
    width: 180px;
    z-index: 3;
}

#record-log span {
    font-weight: normal;
}

#sidebar-group h2 {
    margin: 1em;
    color: #333;
    font-size: 14px;
}

#sidebar-group ul {
    font-size: 12px;
    font-weight: normal;
    margin: .5em 0 2em 0;
}

#sidebar-group ul li {
    padding-left: 1.5em;
    cursor: pointer;
}

#sidebar-group ul li #record-log {
    color: blue;
    font-weight: normal;
}

#sidebar-group ul li.current {
    background: #f60;
    color: #fff;
}

#sidebar-group ul li.current #record-log {
    color: #fff;
    font-weight: bold;
}

#sidebar-group ul {
    line-height: 180%;
    margin: 0 1em 2em 1em;
}

