html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffcb51;
}

#game-wrapper {
    width: 700px;
    margin: 0 auto;
    height: 760px;
    position: relative;
    background: url(bg.jpg) center 0 repeat-x;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

#game-hit-container {
    margin: 0 auto;
    background: url(sprites.png) -667px -300px no-repeat;
    width: 300px;
    height: 103px;
    position: relative;
    top: 130px;
}

#game-guys {
    position: absolute;
    left: 50%;
    margin-left: -82px;
    top: 495px;
    background: url(sprites.png) -234px -253px no-repeat;
    height: 216px;
    width: 165px;
}

#game-thins-container {
    margin-left: 100px;
}

.Bingo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    top: 129px;
}

#game-time-container {
    position: absolute;
    right: 12px;
    top: 12px;
    color: yellow;
    font-family: verdana, "Microsoft Yahei", sans-serif;
    font-size: 82px;
}

#game-Bingo-list {
    position: absolute;
    left: 12px;
    top: 12px;
    height: 100px;
    white-space: nowrap;
}

#game-Bingo-list span {
    float: left;
}

.game-dialog {
    position: absolute;
    left: 42%;
    top: 50%;
    margin-top: -171px;
    margin-left: -172px;
    background: url("sprites.png") 0 -555px no-repeat;
    width: 600px;
    height: 347px;
    z-index: -1;
}

.game-dialog img {
    margin-left: -110px;
}

.game-dialog div.text {
    position: absolute;
    left: 138px;
    top: 61px;
    color: #fff;
    font-size: 44px;
    line-height: 180%;
}

.btn {
    background: yellow;
    padding: 5px;
    color: #a00;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
}

.sprites_binggo_1,
.sprites_binggo_2,
.sprites_binggo_3,
.sprites_binggo_4,
.sprites_binggo_5,
.sprites_binggo_6 {
    background: url(sprites.png);
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;

}

.sprites_binggo_1 {
    background-position: 0 0;
}

.sprites_binggo_2 {
    background-position: -166px 0;
}

.sprites_binggo_3 {
    background-position: -344px 0;
}

.sprites_binggo_4 {
    background-position: -538px 0;
}

.sprites_binggo_5 {
    background-position: -672px 0;
}

.sprites_binggo_6 {
    background-position: -817px 0;
}

.current_things {
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

.sprites_fail,
.sprites-success,
.sprites_fail {
    background: url(sprites.png) 0 -253px no-repeat;
    position: absolute;
    left: -77px;
    top: 65px;
    width: 167px;
    height: 218px;
}

.sprites-success {
    background-position: -431px -253px;
}